<div class="container">
    <header>
        <div>Angular</div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a></li>
                <li><a routerLink="/product">product-detail</a></li>
                <li>
                    <a routerLink="About">About</a>
                </li>
                <li>
                    <a routerLink="admin">Admin</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>Footer</footer>
</div>